
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');





body {
    background-color: rgb(46, 46, 46);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header h1 {
    color: white;
    padding-left: 5%;
    margin: auto 0;
}
header img {
    height: 75px;

}
header nav {
    display: flex;
    
}
.navbar ul{
    margin: 0;
    list-style: none;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    
}

.navbar li {
    display: flex;
}
.navbar li a{
    padding: 0 20px;
    display: flex;
    text-decoration: none;
    color: white;
    height: auto;
    transition: 200ms;
}
.navbar li a span{
    margin: auto;
}

a:hover {
    background-color: rgb(189, 189, 189);
    color: rgb(112, 112, 112);
    
}


.big-logo {
    margin-top: 0;
    background: linear-gradient(rgba(44, 44, 44, 0.507), rgba(0, 0, 0, 0.5)), url(https://aceship.github.io/AN-EN-Tags/img/avg/backgrounds/bg_rhodescom.png) center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width : 100%;
    height: 65%;
    color: white;
}
.big-logo h1 {
    font-family: 'Kaisei HarunoUmi', serif;
    letter-spacing: 5px;
    margin-top: 0;
    margin: auto;
    text-align: center;   
}

.feature-container {
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.feature {
    
    height: 200px;
    width: 400px;
    padding: 20px;
    text-align: center;
    margin: 10px auto;
    letter-spacing: 5px;
    font-family: 'Kaisei HarunoUmi', serif;
    transition: 200ms ;
    box-shadow: 0px 0px 5px, 0px 0px 9px;
    
}


.feature.operator {
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.67)),  url(https://aceship.github.io/AN-EN-Tags/img/avg/images/bg_0_rhodes2.png) ;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    
}
.feature.operator h3 {
    margin: auto;
    text-transform: uppercase;
}

.feature.operator:hover  {
    background: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url(https://aceship.github.io/AN-EN-Tags/img/avg/images/bg_0_rhodes2.png);
    transform: scale(1.2);
    background-size: cover;
    color: rgb(40, 41, 41);
    
}


.feature.squads {
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.67)),  url(https://aceship.github.io/AN-EN-Tags/img/avg/images/avg_0_3.png) ;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    
}
.feature.squads h3 {
    margin: auto;
    text-transform: uppercase;
}

.feature.squads:hover  {
    background: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url(https://aceship.github.io/AN-EN-Tags/img/avg/images/avg_0_3.png);
    transform: scale(1.2);
    background-size: cover;
    color: rgb(40, 41, 41);
}

  
